.app-container {
  min-height: 100vh;
  background-color: #000000;
  padding-bottom: 30px;
}

.heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 32px;
  margin-left: 40px;
}

.prime-img {
  width: 100%;
}
